<ion-header>
  <ion-toolbar>
    <ion-title>Burger King</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/download.png" alt=""></ion-img>
<ion-list no-lines> 
  <ion-item>
    <ion-label>Whooper</ion-label>
    <p> R$ 25,00 </p>
  </ion-item>
  <ion-item>
      <ion-label>Whooper</ion-label>
      <p> R$ 25,00 </p>
    </ion-item>
    <ion-item>
        <ion-label>Whooper</ion-label>
        <p> R$ 25,00 </p>
      </ion-item>
      <ion-item>
          <ion-label>Whooper</ion-label>
          <p> R$ 25,00 </p>
        </ion-item>
   </ion-list>
</ion-content>
