<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Burger King</ion-title>
    <ion-button slot="end" fill="outline">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img src="/assets/download.png" alt=""></ion-img>
<ion-list no-lines> 

      <ion-item *ngFor="let item of cardapio;let i = index" >
          <ion-label>{{item.nome}}</ion-label>
          <p> R$ {{item.preco}} </p>   <ion-button  fill="outline" (click)="minus(i)" >
              <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
            </ion-button> {{item.qtd}} <ion-button  fill="outline" (click)="add(i)">
                <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
              </ion-button>
        </ion-item>
   </ion-list>
</ion-content>
