<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item href="/restaurante">  
    <ion-card >
      <ion-img src="/assets/download.png" width="200" height="100"></ion-img>
      <ion-card-header href="google.com">
        <ion-card-subtitle>2km - Tempo de entrega estimado: 2 min</ion-card-subtitle>
        <ion-card-title>Burger King</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>
